* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Font */
.font1 {
  font-size: 14px;
}

.font2 {
  font-size: 11px;
}

.banner {
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0) 30%
  );
}

.search {
  position: absolute;
  top: 400px;
  width: 100%;
}

.search h1 {
  line-height: 60px;
}

.input-search {
  padding: 0px 30%;
}

/* carousel post */
.swiper.two {
  width: 100%;
  height: 100%;
}

.swiper.two .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper.two .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
  perspective: 1px;
}

/* Section */
.swiper.three {
  width: 100%;
  height: 100%;
}

.swiper.three .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper.three .swiper-slide img {
  display: block;
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}

/* section1 */
.swiper.four {
  width: 100%;
  height: 100%;
}

.swiper.four .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper.four .swiper-slide img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
}


.swiper.one{
  width: 100%;
  height: 100%;
}

.swiper.one .swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper.one .swiper-slide img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* image doctor person */
.img-doctor img{
  display: block;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 100%;
}

/* checkbox book appoinment */
.checkbox-item input[type=checkbox]{
  opacity: 0;
}

.checkbox-book .checkbox-item label{
    display: inline-block;
    width: 150px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
    cursor: pointer;
    background-color: #b3e6ff;
    user-select: none;
  }

.checkbox-item input:checked + label{
  background-color:#33bbff;
}

.icon-boxes {
    padding-top: 0;
    position: relative;
    z-index: 100;
    margin: 40px 0px;
    text-align: center;
  }

  .icon-boxes .icon-box {
    padding: 40px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
  }

  .icon-boxes .icon {
    margin: 0 auto 20px auto;
    display: inline-block;
    text-align: center;
  }

  .icon-boxes .icon i {
    font-size: 36px;
    line-height: 1;
    color: #f6b024;
  }

  .icon-boxes .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .icon-boxes .title a {
    color: #05579e;
  }

  .icon-boxes .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    color: #777777;
  }
  .icon-boxes h4 a{
    text-decoration: none;
    font-size: 21px;
  }
   .icon-boxes p{
    width: 100%;
    font-weight: bold;
    color: red;
   }
   #title-login{
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color:#5e8ad1;
   }
   .row label{
    font-size: 19px;
    font-weight: bold;
    color: blue;
   }
   #title-register{
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color:#5e8ad1;
   }
   form label{
    text-align: left;
   }
   a.nav-link{
     font-size: 22px;
     font-weight: bold;
   }
   a.nav-link:hover{
    color: red;
   }
   .itemDoctor img{
    width: 150px;
    border: 1px;
   }
   .info-doctor{
    color: blue;
    padding-left: 70px;
    font-size: 20px;
   }
   #search_doctor{
    margin-bottom: 100px;
    border: 2px black solid;
    width: 70%;
    border-radius: 10px;
   }
   .btn:hover{
    background-color: red;
   }
   button:hover{
    background-color: blue;
   }
   marquee{
    font-size: 19px;
    color: red;
   }
   .row img:hover{
    opacity: 0.5;
   }
   .row a:hover{
    color: red;
   }
   .row h3{
    font-size: 16px;
    font-weight: bold;
    text-indent: 20px;
   }
   #form-package {
    margin-bottom: 60px;
   }
   .description h3{
    font-weight: bold;
    font-size: 20px;
   }
   .text-center{
    padding-top: 10px;
    font-size: 17px;
   }